os: linux
dist: bionic
sudo: required
dist: trusty
before_install:
- sudo apt-get install -y --no-install-recommends texlive-full chktex
script:
- mkdir _build
- for i in *.tex; do pdflatex -interaction=nonstopmode -halt-on-error -output-directory _build $i; done
deploy:
  provider: releases
  api_key: 
    secure: "ycutzn+FWjg8fDlN0LnOKB994TXeTLnHkGIuP40xdpk+ZVFG2lmAsLqQ/dzGJVV2EVUbe3M4Balkda6aFlTpqwjcwlFi/QfIhrRBIi/+2Ucx2gj4qzvUW8ues0ZyjhgyrWh3XHyqozsm6l5nixyG0D+v0bWkOAGOcMv4XqCcVFkqt4lTBgLm5Cikwc/7v6M3Uzo2E51huH7zIOW+BJrPTUNsOtMxgrA6MuX7sefEaO9fMn08VaWT0HJIbujc9ChZIFrcfHf9S5bw0zQnUB99X4aMOrDCOrOwRE+s07Irxw4Mpk+2qup5Mz3f7ZahzvQoU6WROJd1Ra5ojjsBF0tPz2XofLgjMxCiIVINo7VtqEx85+XNQjjYWi5gayVl2ByiI6sK3LPvau8PpxUICPPFxz1LBPrOpAbozKUtpFSxIoxTM+O5JYFJ2F9rQyc/13XuqhxcTUucVdXM3wvdH2iS4L0Un7W4K/5G8JIgTxoiFz8XtblvaIElyD0Chi490zwQKnr9HeAtRv9YlkVqwfyo6tzXpkyx0oSkgQ7R2R2GR+7zJd0S6jpDU+SwdpBfQjKLM9H7n+Avc9b5NLcOEAT4VpXsfQlSwEd0Imx3U9kG6nzWJCeHDQv6bt4IZy9YyTmtfT8oIatkOPs5QDCVHY0aDfWsG7eeFClq+3lZGaDi8kg="
  file_glob: true
  file: _build/*.pdf
  skip_cleanup: true
  on:
    branch: master
